<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="false" name="/Users/darshfc/IdeaProjects/gopon/bellatrix_solutions">
        <classes>
            <class name="TCs.Tc1_home">
                <methods>
                    <include name="addItemToCart"/>
                    <include name="enterItemDetails"/>
                </methods>
            </class>
            <class name="TCs.Tc2_ItemDetails"/>
            <class name="TCs.Tc1_home">
                <methods>
                    <include name="enterCartPage"/>
                </methods>
            </class>
            <class name="TCs.Tc3_Cart"/>
            <class name="TCs.Tc4_checkout">
                <methods>
                    <include name="submitOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>